<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <clear/>
    <add key ="AWARD" value="539525df-fc9a-4adf-b33d-04747e95f120"/>
    <add key ="BIDDERS_LIST" value ="6427affb-e841-45b8-b0dc-ed267498724a"/>
    <add key ="ORGANIZATION" value="ec10e1c4-4eb3-4f29-97fe-f09ea950cdf1"/>
    <add key ="BID_LINE_ITEM" value="daa80cd8-da5d-4b9d-bb6d-217a360ff7c1"/>
    <add key ="BID_INFORMATION" value="baccd784-45a2-4c0c-82a6-61694cd68c9d"/>
    <add key ="PROJECT_LOCATION" value="116b0812-23b4-4a92-afcc-1030a0433108"/>
    <add key ="ORGANIZATION_BUSINESS_CATEGORY" value="58ea40bf-15e9-4c38-adef-fd93455d8c7e"/>
    <add key ="BUSINESS_CATEGORY" value="SELECT%20distinct%20%20businesscategory%20from%20&quot;58ea40bf-15e9-4c38-adef-fd93455d8c7e&quot;%20limit%20200"/>
    <add key ="LOCATION" value="SELECT%20distinct%20location%20from%20&quot;116b0812-23b4-4a92-afcc-1030a0433108&quot;%20limit%20200"/>
    <add key ="GOVERNMENT_BRANCH" value="SELECT%20distinct%20goverment_branch%20from%20&quot;ec10e1c4-4eb3-4f29-97fe-f09ea950cdf1&quot;%20limit%20200"/>
    <add key ="GOVERNMENT_ORGANIZATION_TYPE" value="SELECT%20distinct%20government_organization_type%20from%20&quot;ec10e1c4-4eb3-4f29-97fe-f09ea950cdf1&quot;%20limit%201000"/>
    <add key ="BUYERS" value="SELECT%20distinct%20org_id,%20org_name%20from%20&quot;ec10e1c4-4eb3-4f29-97fe-f09ea950cdf1&quot;%20where%20member_type%20=%20%27Buyer%27%20and%20org_status=%27Active%27%20limit%201000"/>
    <add key ="SUPPLIERS" value="SELECT%20distinct%20org_id,%20org_name%20from%20&quot;ec10e1c4-4eb3-4f29-97fe-f09ea950cdf1&quot;%20where%20member_type%20=%20%27Supplier%27%20and%20org_status=%27Active%27%20limit%201000"/>
    <add key ="ACTIVE_BIDS" value="select a.ref_id, a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget, count(b.org_id) as bidders from &quot;daa80cd8-da5d-4b9d-bb6d-217a360ff7c1&quot; a inner join &quot;6427affb-e841-45b8-b0dc-ed267498724a&quot; b on a.line_item_id = b.line_item_id inner join &quot;baccd784-45a2-4c0c-82a6-61694cd68c9d&quot; c on  a.ref_id = c.ref_id where (current_timestamp - interval '6 years') between c.publish_date and c.closing_date group by a.ref_id,a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget limit {0}"/>
    <add key ="CLOSED_BIDS" value="select a.ref_id, a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget from &quot;daa80cd8-da5d-4b9d-bb6d-217a360ff7c1&quot; a inner join &quot;6427affb-e841-45b8-b0dc-ed267498724a&quot; b on a.line_item_id = b.line_item_id inner join &quot;baccd784-45a2-4c0c-82a6-61694cd68c9d&quot; c on  a.ref_id = c.ref_id where b.org_id={0} group by a.ref_id,a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget limit {1}"/>
    <add key ="ACTIVE_BIDS_SUPPLIER" value="select a.ref_id as referenceNumber, c.tender_title as title, c.procuring_entity_org as procuringEntity,  c.publish_date as dateOfPublication, c.closing_date as closingDate, c.business_category as bidCategory, c.approved_budget as bidAmount, c.reason as remarks, a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget, b.org_id as awardedToReference, d.awardee as awardedToName, d.awardee_id as awardedToMe, '' as bidStatus,'14.5568948,121.0208109' as geotag from &quot;daa80cd8-da5d-4b9d-bb6d-217a360ff7c1&quot; a inner join &quot;6427affb-e841-45b8-b0dc-ed267498724a&quot; b on a.line_item_id = b.line_item_id inner join &quot;baccd784-45a2-4c0c-82a6-61694cd68c9d&quot; c on  a.ref_id = c.ref_id left join  &quot;539525df-fc9a-4adf-b33d-04747e95f120&quot; d on d.ref_id = a.ref_id where b.org_id = {0} limit {1}"/>
    <add key ="ACTIVE_BIDS_SUPPLIER_CATEGORY" value="select a.ref_id as referenceNumber, c.tender_title as title, c.procuring_entity_org as procuringEntity,  c.publish_date as dateOfPublication, c.closing_date as closingDate, c.business_category as bidCategory, c.approved_budget as bidAmount, c.reason as remarks, a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget, b.org_id as awardedToReference, d.awardee as awardedToName, d.awardee_id as awardedToMe, '' as bidStatus,'14.5568948,121.0208109' as geotag from &quot;daa80cd8-da5d-4b9d-bb6d-217a360ff7c1&quot; a inner join &quot;6427affb-e841-45b8-b0dc-ed267498724a&quot; b on a.line_item_id = b.line_item_id inner join &quot;baccd784-45a2-4c0c-82a6-61694cd68c9d&quot; c on  a.ref_id = c.ref_id left join  &quot;539525df-fc9a-4adf-b33d-04747e95f120&quot; d on d.ref_id = a.ref_id where b.org_id = {0} and c.business_category = any({1}) limit {2}"/>
    <add key ="BID_DETAILS" value="select a.ref_id as referenceNumber, c.tender_title as title, c.procuring_entity_org as procuringEntity,  c.publish_date as dateOfPublication, c.closing_date as closingDate, c.business_category as bidCategory, c.approved_budget as bidAmount, c.reason as remarks, a.line_item_id, a.item_name, a.item_description, a.qty, a.uom, a.budget, b.org_id as awardedToReference, d.awardee as awardedToName, d.awardee_id as awardedToMe, '' as bidStatus,'14.5568948,121.0208109' as geotag from &quot;daa80cd8-da5d-4b9d-bb6d-217a360ff7c1&quot; a inner join &quot;6427affb-e841-45b8-b0dc-ed267498724a&quot; b on a.line_item_id = b.line_item_id inner join &quot;baccd784-45a2-4c0c-82a6-61694cd68c9d&quot; c on  a.ref_id = c.ref_id left join  &quot;539525df-fc9a-4adf-b33d-04747e95f120&quot; d on d.ref_id = a.ref_id where a.ref_id = '{0}' limit {1}"/>
    <add key ="ACTIVE_BIDS_CATEGORY" value="select c.ref_id as referenceNumber, c.tender_title as title, c.procuring_entity_org as procuringEntity,  c.publish_date as dateOfPublication, c.closing_date as closingDate, c.business_category as bidCategory, c.approved_budget as bidAmount, c.reason as remarks, '' as line_item_id, '' as item_name, '' as item_description, 0 as qty, '' as uom, 0 as budget, 0 as awardedToReference, d.awardee as awardedToName, d.awardee_id as awardedToMe, '' as bidStatus,'14.5568948,121.0208109' as geotag from &quot;baccd784-45a2-4c0c-82a6-61694cd68c9d&quot; c left join  &quot;539525df-fc9a-4adf-b33d-04747e95f120&quot; d on d.ref_id = c.ref_id where c.business_category = any({0}) limit {1}"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestPathInvalidCharacters=""/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PhilGepsDataProxy.ProxyService">
        <endpoint address="" behaviorConfiguration="Restful" binding="webHttpBinding" contract="PhilGepsDataProxy.IProxyService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Restful">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>